body {
    background-image: url("../images/scratch.png");  
    background-color: rgb(226, 209, 209);
}

/* .wrapper {
    width:1024px;
} */
.header {
    background-color: #ffffff;
    height: 70px;
    /* width: 100%;  */
    position: relative;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: bold;
    color: #4aaaa5;
    margin: 10px 10px 20px 10px;
}

p {
    color: #777777;
    font-size: 17px;
    line-height: 165%;
    margin: 8px;
}

p:first-child::selection {
    color: red;
    background: yellow;
}
a:link, a:visited {
    text-decoration: none;
    color: #777777;
}

a:hover {
    text-decoration: none;
    color: red;
}

.name {
    text-align: center;
    color: white;
    background-color: #4aaaa5; 
    font-size: 24px;
    font-family: "Georgia", Times, 'Times New Roman', serif;
    font-weight: bold;
    /* width: 22%;  */
    position: absolute;
    top: 0px;
    margin: 0px 0px 0px 80px;
    padding: 23px;
}


.link1 {
    font-size: 15px;
    color: #777777;
    position: absolute;
    top: 27px;
    left: 885px;
    font-family: Arial, Helvetica, sans-serif;
}

.link2 {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: #777777;
    position: absolute;
    top: 27px;
    left: 785px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 15px 0px 15px;
    border-left: 1px;
    border-right: 1px;
    border-style: solid;
    border-color: #777777;
}

.link3 {
    font-size: 15px;
    color: #777777;
    position: absolute;
    top: 27px;
    left: 730px;
    font-family: Arial, Helvetica, sans-serif;
    
} 


.content {
    position: relative;
    left: 1px;
    /* width: 1055px; */
    background-color: yellow;
}


.about {
    text-align: wrap;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    background-color: #ffffff;
    Position: absolute;
    left: 50px;
    width: 540px;
    margin: 30px;
    padding: 21px 30px 3px 30px;
    border: 1px;
    border-style: solid;
    border-color: #dddddd;
}

.about-me {
    border-bottom: 2px;
    border-style: solid;
    border-color: #dddddd;
}

.pic {
    float: left;
    margin: 15px 15px 5px 10px;
    border: none;
    border-radius: 8px;
}

.thumb {
    position: relative;
    float: left;
    margin: 15px;
}

.banner {
    background-color: #4aaaa5;
    color: #ffffff;
    width: 150px;
    height: 40px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    bottom: 40px;
    padding-top: 17px;
}
.connect-box {
    width: 235px;
    text-align: center;
    font-weight: bold;
    color: #777777;
    background-color: #ffffff;
    position: absolute;
    left: 680px;
    padding: 21px 20px 20px 15px;
    margin: 30px 30px 30px 30px;
    border: 1px;
    border-style: solid;
    border-color: #dddddd;
}

.with-me {
    border-bottom: 2px;
    border-style: solid;
    border-color: #dddddd;
}

.contact-form {
    text-align: wrap;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    background-color: #ffffff;
    position: absolute;
    left: 51px;
    width: 540px;
    margin: 30px;
    padding: 21px 30px 20px 30px;
    border: 1px;
    border-style: solid;
    border-color: #dddddd;
}

.gallery {
    color: #777777;
    background-color: #ffffff;
    position: absolute;
    left: 51px;
    width: 540px;
    margin: 30px;
    padding: 21px 30px 20px 30px;
    border: 1px;
    border-style: solid;
    border-color: #dddddd;
}

.portfolio {
    border-bottom: 2px;
    border-style: solid;
    border-color: #dddddd;
}

#submit-button {
    background-color: #4aaaa5;
    color: #ffffff;
}

.row {
    margin: 4px;
}
.icon {
    float: right;
    margin: 15px 7px 15px 7px;
}
.footer {
    height: 55px;
    text-align: center;
    font-size: 10px;
    color: #ffffff;
    background-color: #666666;
    width: 100%;
    height: 25px;
    position: fixed;
    bottom: 0px;
    padding: 18px; 
    border-top: 10px;
    border-style: solid;
    border-color: #4aaaa5;
}

@media only screen and (max-width: 980px) {

    p {
        color: red;
    }

    .link1 {
        left: 830px;
    }

    .link2 {
        left: 730px;
    }

    .link3 {
        left: 685px;
    }
    .about {
        width: 480px;
    }

    .pic { 
        width: 465px;
    }

    .gallery {
        width: 480px;
    }

    .thumb {
        float: none;
        margin-left: 85px;
    }

    .thumb1 {
        width: 300px;
    }

    .banner {
        width: 300px;
        height: 40px;
    }

    .contact-form {
        width: 480px;
    }

    .input.name {
        size: 67px;
    }
    .connect-box {
        left: 620px;
    }

    .footer {
        position: absolute;
        bottom: -385px;
    }
    .footer-2 {
        position: absolute;
        bottom: -630px;
    }

    .footer-3 {
        bottom: 0px;
    }
}

@media only screen and (max-width: 768px) {

        
    p {
        color: green;
    }

    .name {
        /* width: 30%; */
        margin-left: 25px;
        /* padding: 23px 0px 23px 0px; */
    }

    
    .link1 {
        left: 680px;
    }

    .link2 {
        left: 580px;
    }

    .link3 {
        left: 525px;
    }

    .about {
        width: 650px;
        left: 12px;
        margin: 15px;
        text-align: justify; 
    }

    .pic {
        width: 225px;
        margin-left: 28px;
    }

    .connect-box {
        width: 650px;
        position: absolute;
        left: -3px;
        top: 400px;
        padding: 20px 31px 20px 30px;
    }
    .connect-box-2 {
        width: 650px;
        position: absolute;
        left: -3px;
        top: 1080px;
        padding: 20px 31px 20px 30px;
    }

    .connect-box-3 {
        width: 650px;
        position: absolute;
        left: -3px;
        top: 355px;
        padding: 20px 31px 20px 30px;
    }

    .with-me {
        text-align: left;
    }

    .icon {
        float: left;
    }

    .gallery {
        left: 12px;
        margin: 15px;
        width: 650px;
    }

    .thumb {
        margin-left: 180px;
    }

    .contact-form {
        left: 12px;
        margin: 15px;
        width: 650px;
    }

    .footer {
        position: absolute;
        bottom: -150px;
    }

    .footer-2 {
        position: absolute;
        bottom: -840px;
    }

@media only screen and (max-width: 640px) {


    p {
        color: purple;
    }

    .header {
        width: 100%;
        height: 115px;
    }

    .name {
        margin: 0;
        width: 100%;
        padding: 23px 0px 23px 0px;
    }

    .nav {
        height: 35px;
        background-color: white;
        position: absolute;
        top: 60px;
        left: -308px;
    }

    .link2 {
        border: none;
    }

    .about {
        width: 520px;
        left: 12px;
        margin: 15px;
        text-align: justify; 
    }

    .pic {
        width: 465;
        margin-left: 28px;
    }

    .footer {
        position: absolute;
        bottom: -255px;
    }

    .footer-2 {
        position: absolute;
        bottom: -870px;
    }

    .footer-3 {
        position: absolute;
        bottom: -175px;
    }

    .connect-box {
        /* width: 520px; */
        width: 520px;
        position: absolute;
        left: -3px;
        top: 460px;
        padding: 20px 31px 20px 30px;
    }

    .connect-box-2 {
        width: 520px;
        position: absolute;
        left: -3px;
        top: 1080px;
        padding: 20px 31px 20px 30px;
    }

    .connect-box-3 {
        width: 520px;
        position: absolute;
        left: -3px;
        top: 350px;
        padding: 20px 31px 20px 30px;
    }

    .icon {
        margin: 15px 30px 15px 23px;
        width: 120px;
    }

    .contact-form {
        left: 12px;
        margin: 15px;
        width: 520px;
    }

    .gallery {
        left: 12px;
        margin: 15px;
        width: 520px;
    }

    .thumb {
        margin-left: 120px;
    }


}

